@use "./constants/colors.constants" as colors;

@import "./constants/border.constants";
@import "./constants/fonts.constants";
@import "./helpers/function.helpers";
@import "./helpers/mixins.helpers";



$input-border-width: Max(1px, 0.0625rem);
$input-border-radius: $border-radius;
$input-height: 2rem;

$input-color-border: colors.$gray_400;
$input-color-border-active: colors.$color-primary;
$input-color-border-disabled: colors.$gray-200;

.control {
    margin-bottom: $font-size + 0.5rem;

    label {
        font-size: $font-size;
        display: inline-flex;
        margin-bottom: 0.25rem;

        &.required::after {
            margin-left: 0.25rem;
            color: colors.$color-danger;
            content: "*";
        }
    }

    input[type=text],
    input[type=password],
    input[type=email] {
        border: $input-border-width solid $input-color-border;
        font-size: $font-size;
        height: calc-dimension($input-height, $input-border-width, 0rem); /* Ensures correct the height by removing padding and border */
        width: calc-dimension(100%, $input-border-width, 0.5rem); /* Ensures correct the width by removing padding and border */
        border-radius: $input-border-radius;
        padding: 0 0.5rem;
        margin: 0;
        display: block;

        &:focus {
            border-color: $input-color-border-active;
            outline: none;
            @include default-box-shadow($input-color-border-active);
        }

        &:hover {
            border-color: $input-color-border-active;
        }

        &::placeholder {
            font-size: $font-size-small;
            font-style: italic;
        }
    }

    .select {
        .select__input {
            cursor: pointer;
            border: $input-border-width solid $input-color-border;
            font-size: $font-size;
            height: calc-dimension($input-height, $input-border-width, 0rem); /* Ensures correct the height by removing padding and border */
            width: calc-dimension(100%, $input-border-width, 0.5rem); /* Ensures correct the width by removing padding and border */
            border-radius: $input-border-radius;
            padding: 0 0.5rem;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
    
            &:focus {
                border-color: $input-color-border-active;
                outline: none;
                @include default-box-shadow($input-color-border-active);
            }
    
            &:hover {
                border-color: $input-color-border-active;
            }

            .select__input__display {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
    
            .select__input__chevron {
                flex-shrink: 0;
            }
        }

        .select__dropdown {
            position: absolute;
            background-color: colors.$color_white;
            border: $input-border-width solid $input-color-border;
            border-radius: $input-border-radius;
            margin-top: $input-border-width;

            &:focus {
                border-color: $input-color-border-active;
                outline: none;
                @include default-box-shadow($input-color-border-active);
            }

            .select__dropdown__item {
                cursor: pointer;
                padding: 0.25rem 0.5rem;

                &:focus,
                &:hover {
                    background-color: colors.$gray_200;
                }

                &.select__dropdown__item__selected {
                    background-color: colors.$blue_100;
                }
            }
        }        
    }
    

    &.large {
        margin-bottom: $font-size-large + 0.5rem;

        label {
            font-size: $font-size-large;
        }

        input[type=text],
        input[type=password],
        input[type=email] {
            height: calc-dimension(increase-by-factor($input-height, $size-factor), $input-border-width, 0rem); /* Ensures correct the height by removing padding and border and applying the given factor*/
            font-size: $font-size-large;
        }
    }

    &.small {
        label {
            font-size: $font-size-small;
        }

        input[type=text],
        input[type=password],
        input[type=email] {
            height: calc-dimension(decrease-by-factor($input-height, $size-factor), $input-border-width, 0rem); /* Ensures correct the height by removing padding and border and applying the given factor*/
            font-size: $font-size-small;

            &::placeholder {
                font-size: $font-size-smaller;
            }
        }
    }

    &.invalid {
        label {
            color: colors.$color-danger;
        }

        input {
            border-color: colors.$color-danger;
        }
    }

    &.valid {
        input {
            border-color: colors.$color-success;
        }
    }
}
